:root {
    --bg_shadow: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAD0lEQVQImWNgYGD4z4AMAA4EAQAvGW0PAAAAAElFTkSuQmCC);
    --font_sans: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --font_mono: Fira Code, Monaco, Consolas, Ubuntu Mono, monospace;
}

header {
    margin: 0 auto;
    display: flex;
}

body {
    transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out;
    font-family: var(--font_sans);
    max-width: 808px;
    padding: 0 15px;
    margin: 8px auto;
    line-height: 1.5;
    color: var(--fg);
    background-color: var(--bg);
}

h1,
h2,
h3 {
    letter-spacing: -0.02em;
    line-height: 1.2;
    margin-bottom: -8px;
}

h1 {
    font-size: clamp(1.5em, 7vw, 3em);
    margin-bottom: .8em;
}

h1 span {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    display: block;
    letter-spacing: 0;
}

.abold {
    color: var(--fg);
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
}

a:link {
    color: inherit
}

a:active {
    color: inherit
}

a:visited {
    color: inherit
}

a:hover {
    color: inherit
}

article b,
article strong {
    font-weight: 600;
}

main {
    border: 2px solid var(--fg);
    margin: 16px auto;
    background-color: var(--bg);
}

main img {
    padding: 0
}

header div {
    max-height: 40px;
    display: flex;
    flex: 1;
    align-items: flex-end;
    background: var(--fg);
    color: var(--bg);
}

span {
    max-height: 20px;
    display: inline-flex;
    align-items: top;
}

button {
    align-items: right;
}

header nav a {
    color: var(--bg);
    font-weight: 400;
}

header nav {
    padding: 2 0;
    margin-bottom: 3px;
    padding-left: 8px;
    font: 20px var(--font_mono);
}

.topnav {
    max-height: 20px;
    display: flex;
    flex: 20;
    /* align-items: center; */
    background: var(--fg);
    color: var(--bg);
    padding-left: 40px;
    font: 15px var(--font_mono);
}

.right-half {
    text-align: right;
}

article,
main nav {
    padding: 1em clamp(25px, 7.37%, 42px);
}

article a {
    font-weight: 600;
}

article a[href*='/']::before {
    content:"{"
}

article a[href*='/']::after {
    content: "}"
}

article a[href*='//']::before {
    content: "["
}

article a[href*='//']::after {
    content: "]"
}

article a:hover {
    background-color: var(--fg);
    color: var(--bg);
}

main nav ul {
    list-style-type: none;
    margin: 0;
    margin-top: -1em;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
}

main nav span {
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main nav time {
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    display: block;
}

main nav li {
    display: flex;
    padding: 2px 8px;
}

hr {
    border-style: none none dotted;
    margin: 0px;
}

code,
pre {
    overflow: auto;
    background: var(--bg_acc);
    padding: 10px
}

code {
    padding: 2px
}

blockquote {
    font-style: italic;
    line-height: 1.2;
    padding-left: 1em;
    border-left: 4px solid var(--fg);
}

figure {
    margin: 0;
}

figcaption {
    margin-bottom: 40px;
}

img {
    max-width: 100%;
}

footer {
    font-size: 14px;
    margin: 2em -15px;
    border-top: 1px dotted var(--fg);
    padding: 5px 15px;
}

footer section img {
    width: 30px;
}

.logo {
    height: 40px;
    margin-right: 10px;
    background-color: var(--bg);
}

.blink_me {
    animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.text1:hover {
    color: var(--yellow);
    font-weight: 600;
}

.text2:hover {
    color: var(--cyan);
    font-weight: 600;
}

.text3:hover {
    color: var(--magenta);
    font-weight: 600;
}

.bg1:hover {
    background-color: var(--yellow);
}

.bg2:hover {
    background-color: var(--cyan);
}

.bg3:hover {
    background-color: var(--magenta);
}

a[href].direct-link {
    color: transparent;
}

a[href].direct-link:focus,
:hover>a[href].direct-link,
:hover>a[href].direct-link:visited {
    color: var(--fg);
    background-color: transparent;
}

.cover {
    width: 100%;
    padding: 0;
    margin-bottom: -3em;
    background-color: var(--bg);
}

.nav-arrow {
    width: 20px;
    font-size: 16px;
    float: right;
}

details {
    background-color: var(--bg_acc);
    padding: 12px;
}

.footnotes-list {
    padding-left: 0px;
    font-size: 13px;
}

@media (min-width: 600px) {
    article p {
        text-align: justify;
        text-justify: inter-word;
    }
}


/* Gallery */

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1800px;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 30px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    background-image: url(../elements/bg-6.gif?2);
    /* cursor: zoom-in; */
    margin: 5px;
}

#photos img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.sun {
    fill: var(--bg);
}

.sun-and-moon>:is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
    padding-top: 10px;
}

*/ .sun-and-moon>:is(.moon, .sun) {
    fill: var(--icon-fill)
}

.theme-toggle:is(:hover, :focus-visible)>.sun-and-moon>:is(.moon, .sun) {
    fill: var(--icon-fill-hover)
}

.sun-and-moon>.sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon>.sun-beams {
    stroke: var(--icon-fill-hover)
}

[data-theme=dark] .sun-and-moon>.sun {
    transform: scale(1.75)
}

[data-theme=dark] .sun-and-moon>.sun-beams {
    opacity: 0
}

[data-theme=dark] .sun-and-moon>.moon>circle {
    transform: translate(-7px)
}

@supports (cx: 1) {
    [data-theme=dark] .sun-and-moon>.moon>circle {
        transform: translate(0);
        cx: 17
    }
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon>.sun {
        transition: transform .5s var(--ease-elastic-3)
    }
    .sun-and-moon>.sun-beams {
        transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3)
    }
    .sun-and-moon .moon>circle {
        transition: transform .25s var(--ease-out-5)
    }
    @supports (cx: 1) {
        .sun-and-moon .moon>circle {
            transition: cx .25s var(--ease-out-5)
        }
    }
    [data-theme=dark] .sun-and-moon>.sun {
        transform: scale(1.75);
        transition-timing-function: var(--ease-3);
        transition-duration: .25s
    }
    [data-theme=dark] .sun-and-moon>.sun-beams {
        transform: rotate(-25deg);
        transition-duration: .15s
    }
    [data-theme=dark] .sun-and-moon>.moon>circle {
        transition-delay: .25s;
        transition-duration: .5s
    }
    [data-theme=light] .sun-and-moon>.sun {
        transform: scale(1.75);
        transition-timing-function: var(--ease-3);
        transition-duration: .25s
    }
    [data-theme=light] .sun-and-moon>.sun-beams {
        transform: rotate(-25deg);
        transition-duration: .15s
    }
    [data-theme=light] .sun-and-moon>.moon>circle {
        transition-delay: .25s;
        transition-duration: .5s
    }
}

.theme-toggle {
    --size: 0rem;
    --icon-fill: hsl(210 10% 30%);
    --icon-fill-hover: hsl(210 10% 15%);
    background: none;
    border: none;
    padding: 0;
    inline-size: var(--size);
    block-size: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px
}

.theme-toggle>svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round
}

[data-theme=dark] .theme-toggle {
    --icon-fill: hsl(210 10% 70%);
    --icon-fill-hover: hsl(210 15% 90%)
}

@media (hover: none) {
    .theme-toggle {
        --size: 48px
    }
}


/* * {
    box-sizing: border-box;
    margin: 0
} */


/* html {
    block-size: 100%;
    color-scheme: light
}

html[data-theme=dark] {
    color-scheme: dark
} */


/*
@supports not (color-scheme: dark) {
    html[data-theme=dark] {
        background: #111
    }
} */