nav.articles-list hr {
    margin-top: 0;
}

nav.articles-list ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

nav.articles-list li {
    display: flex;
    align-items: center;
}

.icon,
.text-title {
    font-weight: bold;
}

.text-description,
.text-title,
.date {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}

.arrow_back_icon {
    margin-right: 0.5rem;
}

.text-title {
    font-weight: bold;
    margin-left: 0.5rem;
}

.date {
    margin-left: auto;
    padding-left: 0.5rem;
}